@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    src: url(LinLibertine_aS.ttf);
    font-family: LinLibertine;
}

html,
body {
    background-color: #1f1f1f;
    height: 100dvh;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: LinLibertine;
    vertical-align: middle;
    line-height: 10dvh;
    font-size: 5.5dvh;
    color: white;
    margin: auto;
}

#header {
    background-color: #3c3c3c;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 0;
}

#counter {
    position: fixed;
    top: 11.4dvh;
    left: 1.5dvh;
}

#articleCount {
    vertical-align: middle;
    font-family: "Roboto";
    position: absolute;
    font-size: 3.5dvh;
    line-height: 5dvh;
    margin-left: 6dvh;
    color: white;
}

#countSvg {
    position: absolute;
    fill: #999;
    height: 5dvh;
    width: 5dvh;
    top: 0;
}

#footer {
    background-color: #3c3c3c;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.pageButtons {
    background-color: transparent;
    border-color: transparent;
    height: 7.5dvh;
    width: 45vw;
}

.pageSvg {
    fill: #999;
    height: 4dvh;
    width: 4dvh;
}

.pageSvg:hover,
#pickPageSvg {
    fill: white;
}

#pickerPage {
    text-align: center;
    position: fixed;
    top: 27dvh;
}

.pickerButtons {
    background-color: #3c3c3c;
    border-color: #999;
    border-radius: 2dvh;
    border-style: solid;
    margin-top: 3dvh;
    height: 8dvh;
    width: 60vw;
    font-family: "Roboto";
    font-size: 2.5dvh;
    color: white;
}

.addButtons:active,
.pickerButtons:active {
    background-color: #4e4e4e;
}

#pickedArticle {
    justify-content: center;
    font-family: "Roboto";
    align-items: center;
    color: white;
    display: flex;
    margin: auto;
    margin-bottom: 8dvh;
    font-size: 4dvh;
    height: 17dvh;
    width: 75vw;
}

#addPage {
    width: calc(100vw - 3dvh);
    text-align: center;
    position: fixed;
    display: none;
    left: 1.5dvh;
    top: 12dvh;
}

iframe {
    height: calc(100dvh - 22.5dvh - max(42px, 6dvh) - 16px);
    border-radius: max(8px, 1dvh);
    width: calc(100% - 4px);
    border-color: #999;
    border-style: solid;
}

#addDiv {
    justify-content: space-between;
    margin-top: 1.5dvh;
    display: flex;
}

input {
    margin-right: calc(1.5dvh + 2px);
    margin-left: calc(1.5dvh + 2px);
    border-radius: max(8px, 1dvh);
    background-color: #3c3c3c;
    border-color: #999;
    border-style: solid;
    padding-left: 10px;
    color: white;
    flex-grow: 1;
    width: 0;
}

input:focus {
    outline: none;
}

#addPageSvg {
    fill: #999;
}

.addButtons {
    background-color: #3c3c3c;
    border-color: #999;
    border-style: solid;
    border-radius: max(8px, 1dvh);
    height: max(42px, 6dvh);
    width: max(42px, 6dvh);
}

.addSvgs {
    vertical-align: middle;
    fill: #999;
}